
 html, body {
	 margin: 0;
	 padding: 0;
	 font-family: "Montserrat";
	 -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
	 overflow: hidden;
}
 code {
	 font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
 .zero-margin {
	 margin: 0;
}
 .zero-padding {
	 padding: 0;
}
 .my-modal {
	 width: 90vw;
	/* Occupy the 90% of the screen width */
	 max-width: 90vw;
}
 .section {
	 padding: 0;
}
 .left-col {
	 padding-left: 0 !important;
	 padding-right: 0 !important;
}
 .right-thumbnail {
	 flex: 0 0 17%;
	 max-width: 17%;
	 padding-left: 0;
}
 .student-side-tutor video {
	 border-radius: 6px;
}
 .tutor-view video {
	 object-fit: cover;
}
 .tutor-view video {
	 border-radius: 6px;
}
 #tutor video {
	 margin: 0 auto;
	 width: 75vw;
	 height: 74vh;
	 object-fit: cover;
	 border-radius: 6px;
}
 .right-col {
	 max-width: 94%;
	 display: inline-block;
	 flex: none;
}
 .left-col .left-menu {
	 background: #fff;
	 box-shadow: 3px 0px 10px rgba(11, 66, 171, 0.15);
	 width: 100%;
	 height: 980px;
	 left: 0px;
	 position: relative;
	 z-index: 1;
	 margin-top: 25px;
}
 .left-col .left-menu .btn.disabled, .left-col .left-menu .btn:disabled {
	 opacity: 1;
}
 @media (min-width: 768px) and (max-width: 950px) {
	 .left-col .left-menu {
		 top: 6.5%;
		 width: 100px;
	}
}
 @media (min-width: 480px) and (max-width: 768px) {
	 .left-col .left-menu {
		 top: 7.5%;
		 width: 100px;
	}
}
 @media (min-width: 768px) and (max-width: 950px) {
	 .speed-math {
		 height: 90vh !important;
	}
	 .navbar-live-class {
		 margin-right: 44px !important;
	}
	 .col-md-5 {
		 left: 15%;
	}
	 .col-md-9 {
		 flex: 0 0 100%;
		 max-width: 112%;
		 bottom: 2rem;
	}
	 .col-md-3 {
		 flex: 0 0 30%;
		 max-width: 30%;
	}
	 .col-md-7 {
		 display: block !important;
		 justify-content: space-between;
		 align-items: center;
		 text-align: center;
		 gap: 25px;
	}
	 #timer-page-3 .question-box {
		 width: 420px;
		 text-align: center;
		 margin-top: 91px !important;
	}
	 .answer-box {
		 width: 420px;
	}
	 .col-md-3 > img {
		 top: 15px !important;
		 display: flex !important;
	}
	 .question-textdiv {
		 text-align: center !important;
		 padding: 0px 0px 0px 0px !important;
	}
	 .student-progress-bar {
		 position: absolute !important;
		 right: 115% !important;
		 height: 63px !important;
	}
	 .col-md-3 > span {
		 margin-left: 110px;
		 margin-bottom: -20px;
		 flex-direction: column-reverse !important;
	}
	 .col-md-6 > span {
		 margin-top: 16px;
	}
	 .navbar-live-class {
		 width: 90% !important;
	}
	 .navbar-expand {
		 flex-flow: row wrap;
	}
	 .right-thumbnail video {
		 height: 160px !important;
	}
	 .container > .countdown-res {
		 margin-left: 300px;
	}
}
 @media (min-width: 1024px) {
	 .speed-math {
		 height: 78vh;
	}
	 .changing_heightRow {
		 height: 54vh !important;
	}
	 #timer-page-3 .question-box {
		 height: auto !important;
	}
}
 @media (min-width: 820px) and (max-width: 1180px) {
	 .right-thumbnail {
		 margin-top: 90px !important;
	}
	 #tutor video {
		 width: 67vw !important;
		 height: 35vh !important;
	}
	 .topbarresponsiveforsmall {
		 margin-top: 25px;
	}
}
 @media (min-width: 700px) and (max-width: 1150px) {
	 #tutor video {
		 width: 67vw !important;
	}
}
 @media (min-width: 480px) and (max-width: 768px) {
	 .smallsize-section {
		 left: 10% !important;
	}
	 .right-thumbnail video {
		 height: 160px !important;
		 width: 100px;
	}
	 .container > .countdown-res {
		 margin-left: 300px;
	}
}
 .Participant_participant__37DBu video {
	 border-top-left-radius: 6px;
	 border-top-right-radius: 6px;
}
 .primary-button {
	 padding: 14px 32px;
	 background: linear-gradient(90deg, #3e74ff 0%, #3e46ff 100%);
	 box-shadow: 2px 4px 8px rgba(6, 50, 163, 0.2);
	 border-radius: 26px;
	 font-weight: bold;
	 font-size: 12px;
	 height: auto !important;
	 color: white !important;
	 border: none;
}
 .primary-button:hover {
	 background: linear-gradient(90deg, #3ea2ff 0%, #3e68ff 100%);
	/* BNT-Blue-Dropshadow */
	 box-shadow: 2px 4px 8px rgba(6, 50, 163, 0.2);
	 border-radius: 26px;
}
 .right-thumbnail {
	 max-width: 100vh;
	 overflow: none;
}
 .right-thumbnail video {
	 object-fit: cover;
	 height: auto;
	 width: 100%;
}
 .bottom-navbar {
	 background: transparent !important;
}
 @media (min-width: 768px) and (max-width: 950px) {
	 .bottom-navbar-res {
		 margin-right: 100px;
	}
}
 .list-wrapper p {
	 color: white;
}
 .left-menu .list-group-item {
	 background: none;
	 padding: 0;
	 border: none;
	 height: 63px;
	 margin-bottom: 5px;
}
 .left-menu .list-group-item label {
	 padding: 10px 4px;
}
 .left-menu p {
	 color: #233584 !important;
	 font-size: 10px;
	 margin: 0;
	 opacity: 0.7;
	 position: relative;
}
 .active {
	 background: linear-gradient(90deg, #3e74ff 0%, #3e46ff 100%) !important;
	 border-left: 3px solid #fff !important;
}
 .active p {
	 font-weight: bold !important;
	 color: #fff !important;
	 font-size: 10px;
	 margin: 0;
}
 .custom-control-label {
	 color: #a6a6a6;
	 cursor: pointer;
}
 .active .custom-control-label {
	 color: #00adee !important;
}
 .left-options .list-group-item {
	 border: none;
	 border-bottom: 1px solid #eee;
	 padding: 10px 15px;
}
 .left-options .list-group-item label {
	 font-size: 14px;
}
 .left-options .list-group-item label.focus {
	 box-shadow: none;
}
 .left-options .list-group-item label.active {
	 background-color: #00aded !important;
	 color: white;
	 border: none;
	 box-shadow: none;
	 font-weight: bold;
}
 .left-options .list-group-item label.active:focus {
	 box-shadow: none;
}
 .video-react-video {
	 pointer-events: none;
}
 .video-tutorial {
	 background-color: #fff;
	 border: none;
	 box-shadow: none;
}
 .local-participant-title {
	 background-color: transparent !important;
	 border-color: transparent !important;
	 color: #007bff !important;
	 padding: 3px !important;
}
 .local-participant-title:hover {
	 background-color: none !important;
	 border-color: none !important;
}
 .local-participant-title:focus {
	 box-shadow: none !important;
}
 .lp-menu .dropdown-item {
	 padding: 4px 8px !important;
}
 .video-react-control-bar {
	 display: none;
}
 .sog {
	 margin-bottom: 0.25rem;
}
 .sog a {
	 padding: 8px 12px;
	 font-size: 13px;
}
 .dropdown-menu {
	 height: 40vh;
	 overflow: auto;
}
 @media screen and (min-width: 1200px) {
	 .container {
		 max-width: 1200px;
	}
}
 .bottom-btns img {
	 cursor: pointer;
}
 .pulse {
	 animation: pulse 1.5s infinite;
	 margin-top: -2rem;
	 animation-direction: alternate;
	 -webkit-animation-name: pulse;
	 animation-name: pulse;
}
 @-webkit-keyframes pulse {
	 0% {
		 -webkit-transform: scale(1);
	}
	 50% {
		 -webkit-transform: scale(1.1);
	}
	 100% {
		 -webkit-transform: scale(1);
	}
}
 @keyframes pulse {
	 0% {
		 transform: scale(1);
	}
	 50% {
		 transform: scale(1.1);
	}
	 100% {
		 transform: scale(1);
	}
}
 .navbar-live-class {
	 background: #fff !important;
}
 .navbar-live-class .live-class-name {
	 color: #233584;
	 font-weight: 600;
	 font-size: 16px;
	 line-height: 40px;
	 margin-left: 15px;
}
 .navbar-live-class .live-class-name:hover {
	 color: #233584;
	 cursor: default;
}
 .button-group {
	 background: #fff;
	/* LiveButton-DropShadow */
	 box-shadow: 0px 2px 10px rgba(11, 66, 171, 0.1);
	 border-radius: 27px;
}
 .button-group .mute-all, .button-group .record {
	 color: #3f6fff;
	 border-right: 1px solid #e2e4ee;
	 font-size: 12px;
	 padding: 10px 15px;
}
 .button-group .mute-all:focus, .button-group .record:focus {
	 box-shadow: none;
	 border: none;
}
 .button-group .mute-all img, .button-group .record img {
	 padding-right: 6px;
}
 .button-group .settings {
	 color: #3f6fff;
	 font-size: 12px;
	 padding: 10px 15px;
}
 .record-switch {
	 line-height: 22px;
}
 .record-switch .custom-control-label {
	 color: #3f6fff !important;
	 font-size: 12px !important;
	 text-decoration: none !important;
}
 .custom-switch .custom-control-label::after {
	 background-color: #183bcc !important;
}
 .custom-control-input:checked ~ .custom-control-label::before {
	 color: #fff;
	 border-color: #fa6d6d;
	 background-color: #fa6d6d;
}
 .hidden {
	 display: none;
}
 .shown {
	 display: block;
}
 @media (min-width: 768px) and (max-width: 950px) {
	 .chatbutton {
		 bottom: 1px !important;
	}
}
 @media (min-width: 480px) and (max-width: 768px) {
	 .chatbutton {
		 bottom: 1px !important;
	}
}
 .video-dropdown {
	 position: fixed;
	 z-index: 9999;
	 width: 349px;
	 background: #fff;
	 left: 86px;
	 height: 100vh;
	 overflow: auto;
	 box-shadow: none;
	 border-left: 2px solid #eee;
}
 @media (min-width: 768px) and (max-width: 950px) {
	 .video-dropdown {
		 left: 102px !important;
	}
}
 .video-dropdown .accordion .card {
	 border: none;
	 box-shadow: none;
}
 .video-dropdown .accordion .card-header {
	 padding: 0;
}
 .video-dropdown .accordion .card-header button {
	 height: auto;
	 padding: 15px 15px 15px;
	 font-weight: normal;
	 font-size: 16px;
	 color: #233584;
	 background-color: #fff;
	 border: none;
	 text-decoration: none;
	 text-align: left;
	 width: 100%;
}
 .video-dropdown .accordion .card-body {
	 background-color: #fff;
}
 .video-dropdown .accordion .card-body .list-group-item {
	 padding: 5px 10px;
	 font-weight: normal;
	 font-size: 14px;
	 color: #233584;
	 cursor: pointer;
	 border: none;
}
 .video-dropdown .accordion .card-body .list-group-item a {
	 cursor: pointer;
}
 .video-dropdown .close-btn {
	 margin-right: 20px;
	 margin-top: 15px;
}
 .video-dropdown .close-btn i {
	 float: right;
	 color: #233584;
	 cursor: pointer;
}
 .video-dropdown .list-group-item {
	 height: auto;
	 padding: 15px 15px 15px;
	 font-weight: normal;
	 font-size: 16px;
	 color: #233584;
	 background-color: #fff;
	 border: none;
}
 .video-dropdown .list-group-item a {
	 cursor: pointer;
}
 .video-dropdown .list-group-item.active {
	 background: #3f6fff !important;
	 color: #fff;
	 font-size: 16px;
	 font-style: normal;
}
 .video-react .video-react-big-play-button {
	 display: none;
}
 .video-react-has-started .video-react-control-bar {
	 display: none;
}
 .check-audio {
	 background: linear-gradient(90deg, #3e74ff 0%, #3e46ff 100%);
	/* BNT-Blue-Dropshadow */
	 box-shadow: 2px 4px 8px rgba(6, 50, 163, 0.2);
	 border-radius: 26px;
	 color: white !important;
	 font-weight: bold;
	 font-size: 12px;
	 padding: 16px 32px;
	 height: auto;
	 text-decoration: none;
	 width: 135px;
}
 .primary-link-text {
	 font-weight: bold;
	 font-size: 10px;
	 background: -webkit-linear-gradient(90deg, #3e74ff 0%, #3e46ff 100%);
	 background-clip: text;
	 -webkit-text-fill-color: transparent;
}
 .range-slider {
	 width: 100%;
}
 .range-slider__range {
	 -webkit-appearance: none;
	 width: 100%;
	 height: 10px;
	 border-radius: 5px;
	 background: #d7dcdf;
	 outline: none;
	 padding: 0;
	 margin: 0;
}
 .range-slider__range::-webkit-slider-thumb {
	 appearance: none;
	 width: 20px;
	 height: 20px;
	 border-radius: 50%;
	 background: #3f6fff;
	 cursor: pointer;
	 transition: background 0.15s ease-in-out;
}
 .range-slider__range::-webkit-slider-thumb:hover {
	 background: #e2e4ee;
}
 .range-slider__range:active::-webkit-slider-thumb {
	 background: #e2e4ee;
}
 .range-slider__range::-moz-range-thumb {
	 width: 20px;
	 height: 20px;
	 border: 0;
	 border-radius: 50%;
	 background: #3f6fff;
	 cursor: pointer;
	 transition: background 0.15s ease-in-out;
}
 .range-slider__range::-moz-range-thumb:hover {
	 background: #e2e4ee;
}
 .range-slider__range:active::-moz-range-thumb {
	 background: #e2e4ee;
}
 .range-slider__range:focus::-webkit-slider-thumb {
	 box-shadow: 0 0 0 3px #fff, 0 0 0 6px #e2e4ee;
}
 .range-slider__value {
	 display: inline-block;
	 position: relative;
	 width: 60px;
	 color: #fff;
	 line-height: 20px;
	 text-align: center;
	 border-radius: 3px;
	 background: #3f6fff;
	 padding: 5px 10px;
	 margin-left: 8px;
}
 .range-slider__value:after {
	 position: absolute;
	 top: 8px;
	 left: -7px;
	 width: 0;
	 height: 0;
	 border-top: 7px solid transparent;
	 border-right: 7px solid #3f6fff;
	 border-bottom: 7px solid transparent;
	 content: "";
}
 ::-moz-range-track {
	 background: #d7dcdf;
	 border: 0;
}
 input::-moz-focus-inner, input::-moz-focus-outer {
	 border: 0;
}
 .issues-checkbox[type="checkbox"] {
	 display: none;
}
 .issues-checkbox[type="checkbox"] + label {
	 -webkit-transition: all 500ms ease;
	 transition: all 500ms ease;
	 font-size: 18px;
	 cursor: pointer;
	 border-radius: 40px;
	 color: #233584;
	 font-weight: 600;
	 font-size: 16px;
	 background-color: #fff;
	 border: 1px solid #e2e4ee;
	 padding: 12px 16px;
	 display: inline-block;
	 -moz-user-select: -moz-none;
	 -webkit-user-select: none;
	 -ms-user-select: none;
	 user-select: none;
	 margin: 2px;
}
 .issues-checkbox[type="checkbox"]:checked + label {
	 -webkit-transition: all 500ms ease;
	 transition: all 500ms ease;
	 border: 1px solid #e2e4ee;
	 font-weight: 600;
	 font-size: 16px;
	 padding: 12px 16px;
	 background: linear-gradient(90deg, #3e74ff 0%, #3e46ff 100%);
	 color: #fff;
}
 button {
	 color: inherit;
	 background-color: transparent;
	 border: 0;
	 outline: 0 !important;
	 cursor: pointer;
}
 button.chatbox-open {
	 position: fixed;
	 bottom: 0;
	 right: 0;
	 width: 52px;
	 height: 52px;
	 color: #fff;
	 background-color: #233584;
	 background-position: center center;
	 background-repeat: no-repeat;
	 box-shadow: 0px 4px 10px rgba(11, 66, 171, 0.1);
	 border: 0;
	 border-radius: 50%;
	 cursor: pointer;
	 margin: 16px;
}
 button.chatbox-close {
	 position: fixed;
	 bottom: 0;
	 right: 0;
	 width: 52px;
	 height: 52px;
	 color: #fff;
	 background-color: #233584;
	 background-position: center center;
	 background-repeat: no-repeat;
	 box-shadow: 0px 4px 10px rgba(11, 66, 171, 0.1);
	 border: 0;
	 border-radius: 50%;
	 cursor: pointer;
	 display: none;
	 margin: 16px calc(2 * 16px + 52px) 16px 16px;
}
 .chat-textarea {
	 box-sizing: border-box;
	 width: 100%;
	 margin: 0;
	 height: calc(16px + 16px / 2);
	 padding: 0 calc(16px / 2);
	 font-family: inherit;
	 font-size: 16px;
	 line-height: calc(16px + 16px / 2);
	 color: #888;
	 background-color: none;
	 border: 0;
	 outline: 0 !important;
	 resize: none;
	 overflow: hidden;
}
 .chat-textarea::placeholder {
	 color: #888;
}
 .chatbox-popup {
	 display: flex;
	 position: fixed;
	 box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
	 flex-direction: column;
	 display: none;
	 bottom: 5rem;
	 right: 5px;
	 width: 311px;
	 height: auto;
	 background-color: #fff;
	 box-shadow: 2px 2px 14px rgba(11, 66, 171, 0.15);
	 border-radius: 6px;
}
 @media (min-width: 768px) and (max-width: 950px) {
	 .chatbox-popup {
		 margin-bottom: 45px;
	}
}
 .chatbox-popup .chatbox-popup__header {
	 box-sizing: border-box;
	 display: flex;
	 width: 100%;
	 padding: 16px;
	 color: #fff;
	 background-color: #fff;
	 align-items: center;
	 justify-content: space-around;
	 border-top-right-radius: 6px;
	 border-top-left-radius: 6px;
	 border-bottom: 1px solid #e2e4ee;
}
 .chatbox-popup .chatbox-popup__header .chatbox-popup__avatar {
	 margin-top: -32px;
	 background-color: #0360a5;
	 border: 5px solid rgba(0, 0, 0, 0.1);
	 border-radius: 50%;
}
 .chatbox-popup .chatbox-popup__main {
	 box-sizing: border-box;
	 width: 100%;
	 padding: calc(2 * 16px) 16px;
	 line-height: calc(16px + 16px / 2);
	 color: #888;
	 text-align: center;
	 height: 40vh;
	 overflow: auto;
}
 .chatbox-popup .chatbox-popup__footer {
	 box-sizing: border-box;
	 display: flex;
	 padding: 10px;
	 border: 1px solid #e2e4ee;
	 border-radius: 25px;
	 align-items: center;
	 justify-content: space-around;
	 margin: 10px;
}
 .chatbox-panel {
	 display: flex;
	 position: fixed;
	 box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
	 flex-direction: column;
	 display: none;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 width: 377px;
	 background-color: #fff;
}
 .chatbox-panel .chatbox-panel__header {
	 box-sizing: border-box;
	 display: flex;
	 width: 100%;
	 padding: 16px;
	 color: #fff;
	 background-color: #fff;
	 align-items: center;
	 justify-content: space-around;
	 flex: 0 0 auto;
}
 .chatbox-panel .chatbox-panel__main {
	 box-sizing: border-box;
	 width: 100%;
	 padding: calc(2 * 16px) 16px;
	 line-height: calc(16px + 16px / 2);
	 color: #888;
	 text-align: center;
	 height: 40vh;
	 overflow: auto;
	 flex: 1 1 auto;
}
 .chatbox-panel .chatbox-panel__footer {
	 box-sizing: border-box;
	 display: flex;
	 padding: 10px;
	 border: 1px solid #e2e4ee;
	 border-radius: 25px;
	 align-items: center;
	 justify-content: space-around;
	 margin: 10px;
	 flex: 0 0 auto;
}
 .teacher-feedback-form label {
	 font-size: 12px;
	 font-weight: 600;
	 opacity: 0.8;
}
 .teacher-feedback-form .form-group {
	 margin-bottom: 5px;
}
 .teacher-feedback-form .form-control {
	 font-size: 12px;
}
 .teacher-feedback-form .error-msg {
	 font-size: 12px;
	 color: red;
}
 .teacher-feedback-form .mathzone-error, .teacher-feedback-form .speedmath-error, .teacher-feedback-form .logiczone-error {
	 display: none;
}
 .teacher-feedback-form .dropdown {
	 width: 100%;
}
 .teacher-feedback-form .dropdown .dropdown-menu {
	 box-shadow: 2px 4px 8px rgba(6, 50, 163, 0.2);
}
 .teacher-feedback-form .dropdown button {
	 height: calc(1.5em + 0.75rem + 2px);
	 font-size: 12px;
	 width: 100%;
	 text-align: left;
	 background-color: white;
	 color: grey;
	 border: 1px solid #ccc;
}
 .teacher-feedback-form .dropdown .dropdown-toggle::after {
	 float: right;
	 margin-top: 7px;
}
 .centerTutor {
	 position: fixed;
	 left: 16rem;
	 min-width: 50vw;
	 margin-top: 6rem;
}
 .videoBR video {
	 border-radius: 6px;
}
 .student-side-coach video {
	 border-radius: 6px;
	 margin-top: 10px;
}
 .flex-p {
	 display: flex;
}
 #bars {
	 position: relative;
	 width: 25px;
	 height: 16px;
	 margin-right: 2px;
	 margin-top: 0px;
	 margin-bottom: 0;
}
 #bars .bar {
	 position: absolute;
	 bottom: 0;
	 width: 3px;
}
 #bars .bar:nth-child(1) {
	 background: #ccc;
	 height: 3px;
	 left: 0px;
}
 #bars .bar:nth-child(2) {
	 background: #ccc;
	 height: 6px;
	 left: 5px;
}
 #bars .bar:nth-child(3) {
	 background: #ccc;
	 height: 9px;
	 left: 10px;
}
 #bars .bar:nth-child(4) {
	 background: #ccc;
	 height: 12px;
	 left: 15px;
}
 #bars .bar:nth-child(5) {
	 background: #ccc;
	 height: 15px;
	 left: 20px;
}
 #bars .bar:nth-child(6) {
	 background: #ccc;
	 height: 18px;
	 left: 25px;
}
 #bars .active-bar {
	 background: #233584 !important;
}
 .class-lists a {
	 height: auto !important;
}
 .preHeight {
	 background: transparent;
	 height: 500px;
	 width: 100%;
	 position: relative;
	 float: left;
}
 .postHeight {
	 background: transparent;
	 height: 600px;
	 width: 100%;
	 position: relative;
	 float: left;
}
 .page-sub-head {
	 font-weight: bold;
	 font-size: 20px;
	 color: #233584;
	 margin-bottom: 28px;
	 margin-top: 1.5rem;
}
 .loading {
	 width: 300px;
	 height: 100px;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 margin: 20px auto;
}
/* --- PRIMER EJEMPLO --- */
 .dot {
	 width: 20px;
	 height: 20px;
	 border-radius: 50%;
	 margin: 20px 10px;
	 display: inline-block;
	 animation: scaling 2.5s ease-in-out infinite;
}
 @keyframes scaling {
	 0%, 100% {
		 transform: scale(0.4);
		 background: linear-gradient(90deg, #3e74ff 0%, #3e46ff 100%);
	}
	 40% {
		 transform: scale(0.8);
		 background-color: #22b97f;
	}
	 50% {
		 transform: scale(0.8);
		 background-color: #67ff02;
	}
}
 .dot:nth-child(0) {
	 animation-delay: 0s;
}
 .dot:nth-child(1) {
	 animation-delay: 0.2s;
}
 .dot:nth-child(2) {
	 animation-delay: 0.4s;
}
 .dot:nth-child(3) {
	 animation-delay: 0.6s;
}
 .dot:nth-child(4) {
	 animation-delay: 0.8s;
}
 .react-pdf__Page canvas {
	 margin: 0 auto !important;
	 height: 650px !important;
}
 .pagec {
	 margin: 0 auto;
	 width: 84%;
	 text-align: right !important;
	 margin-top: 8px;
	 font-size: 14px;
	 font-weight: 600;
}
 .toolbar {
	 flex-direction: column;
	 display: flex;
	 border: 1px solid #e2e4ee;
	 border-radius: 4px;
	 text-align: center;
}
 .toolbar a {
	 border-radius: 4px;
	 margin: 2px;
	 padding: 3px;
}
 .toolbar a:hover {
	 background: #f3f7ff;
}
 .toolbar a img {
	 padding: 5px 6px;
}
 .toolbar .active-wb-menu {
	 background: #f3f7ff;
}
 .previous-btn {
	 position: absolute;
	 top: 16rem;
	 left: 0;
	 z-index: 1;
}
 .previous-btn img {
	 width: 100%;
}
 .previous-btn img:hover {
	 width: 115%;
}
 .next-btn {
	 position: absolute;
	 right: 0rem;
	 top: 16rem;
	 z-index: 1;
}
 .konvajs-content {
	 margin: 0 auto;
}
 .konvajs-content canvas {
	 border: 1px solid #ccc !important;
}
 .sketch-picker {
	 width: 100px;
	 height: auto;
	 z-index: 1;
	 top: 0rem;
	 position: absolute;
	 background: #fff;
	 border: 1px solid #e2e4ee;
}
 .pencil-size {
	 width: 40px;
	 height: auto;
	 z-index: 1;
	 top: 3rem;
	 position: absolute;
	 background: #fff;
	 border: 1px solid #e2e4ee;
}
 .eraser-size {
	 width: 40px;
	 height: auto;
	 z-index: 1;
	 top: 6rem;
	 position: absolute;
	 background: #fff;
	 border: 1px solid #e2e4ee;
}
 .pdf-page-count:focus {
	 outline: none;
}
 .rounded-color img {
	 margin: 10px 13px;
	 text-align: center;
}
 .quizWhiteBoard {
	 position: absolute;
	 right: 15px;
	 z-index: 100;
	 width: 35px;
	 top: 12rem;
	 background: #333;
	 border: 1px solid #333;
}
 .quizWhiteBoard:hover {
	 background-color: #333;
	 border: 1px solid #333;
	 box-shadow: none;
}
 .quizWhiteBoard:active {
	 background: #333;
	 border: 1px solid #333;
	 box-shadow: none;
}
 .quizWhiteBoard:focus {
	 background-color: #333;
	 border: 1px solid #333;
	 box-shadow: none;
}
 .selected {
	 animation: slide-in 0.5s forwards;
	 -webkit-animation: slide-in 1s forwards;
	 background-color: rgba(52, 52, 52, 0.3);
	 z-index: 99;
	 width: 100%;
	 position: absolute;
}
 .dismiss {
	 animation: slide-out 0.5s forwards;
	 -webkit-animation: slide-out 1s forwards;
	 position: absolute;
}
 @keyframes slide-in {
	 0% {
		 -webkit-transform: translateX(100%);
	}
	 100% {
		 -webkit-transform: translateX(0%);
	}
}
 @-webkit-keyframes slide-in {
	 0% {
		 transform: translateX(100%);
	}
	 100% {
		 transform: translateX(0%);
	}
}
 @keyframes slide-out {
	 0% {
		 transform: translateX(0%);
	}
	 100% {
		 transform: translateX(100%);
	}
}
 @-webkit-keyframes slide-out {
	 0% {
		 -webkit-transform: translateX(0%);
	}
	 100% {
		 -webkit-transform: translateX(100%);
	}
}
 .network-test-loader span {
	 margin: 2px;
}
 .tutor-rightmenu .Participant_participant__37DBu video {
	 border-radius: 8px;
}
 .allscreen-grid .Participant_participant__37DBu video {
	 border-radius: 8px;
}
 .crosshairs {
	 height: 100%;
	 position: absolute;
	 width: 100%;
	 z-index: 2147483645;
}
 .crosshairs.hidden {
	 display: none;
}
 .crosshairs::before, .crosshairs::after {
	 content: "";
	 height: 100%;
	 width: 100%;
	 position: absolute;
	 border: none !important;
}
 .crosshairs::before {
	 left: -100%;
	 top: -100%;
	 border-right: 1px solid rgba(255, 255, 255, 0.3) !important;
	 border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
}
 .crosshairs::after {
	 left: 0px;
	 top: 0px;
	 border-top: 1px solid rgba(255, 255, 255, 0.3) !important;
	 border-left: 1px solid rgba(255, 255, 255, 0.3) !important;
}
 body > iframe {
	 pointer-events: none;
}
 .overlay {
	 position: fixed;
	 top: 10;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-color: rgba(0, 0, 0, 0.5);
}
 .overlay.highlighting {
	 background: none;
	 border-color: rgba(0, 0, 0, 0.5);
	 border-style: solid;
}
 .other-students {
	 box-shadow: 2px 2px 14px rgba(11, 66, 171, 0.15);
	 background: #fff;
	 border-radius: 6px;
	 padding: 10px 20px;
	 margin-top: 50px;
}
 .other-students .row-padding {
	 padding: 5px;
}
 .other-students .col-zero-padding {
	 padding: 0;
}
 .other-students .zero-margin {
	 margin: 0;
}
 .other-students .name-text {
	 font-size: 12px;
	 font-weight: 600;
	 margin-bottom: 1px;
	 color: #233584;
}
 .other-students .star-img {
	 width: 16px;
	 margin-right: 8px;
}
 .other-students span {
	 font-size: 12px;
	 color: #b7b9c0;
}
 .react-draggable video {
	 object-fit: contain !important;
	 height: auto !important;
	 background-color: #fff;
	 padding: 10px;
}
 .student-screenshare video {
	 object-fit: contain !important;
	 height: 100% !important;
}
 .speed-math {
	 width: 100%;
	 height: 90vh;
	/* background-size: 100% 100%;
	 */
	/* background-repeat: no-repeat;
	 */
	 padding: 40px 60px;
}
 .speed-math .sm-level {
	 width: 127px;
	 height: 53px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .speed-math .sm-level .level-text {
	 position: absolute;
	 left: 45px;
	 top: 12px;
	 color: white;
	 font-weight: bold;
	 font-size: 16px;
}
 .speed-math .sm-level .level-no {
	 position: absolute;
	 left: -7px;
	 top: 10px;
	 font-size: 18px;
	 color: #dc3c6c;
}
 .speed-math .sm-mode {
	 width: 285px;
	 height: 53px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .speed-math .sm-mode span {
	 color: white;
	 font-weight: bold;
	 font-size: 16px;
}
 .speed-math .SM-Image {
	 position: relative;
	 width: 100%;
}
 .speed-math .SM-level-image {
	 position: absolute;
	 left: -31px;
	 top: -5px;
}
 .speed-math .SM-BGImage {
	 position: absolute;
	 left: 0;
	 width: 100%;
	 padding: 4rem;
}
 .speed-math .spatio-image {
	 position: absolute;
	 top: 185px;
	 text-align: center;
	 width: 100%;
	 z-index: 9;
}
 .speed-math .yellow-box {
	 position: relative;
}
 .speed-math .yellow-box {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -40%);
}
 .speed-math .yellow-box .spatio-img {
	 position: relative;
	 width: 596px;
	 height: 198px;
	 background-color: #fedd52;
	 border-radius: 24px;
}
 .speed-math .yellow-box .spatio-img p {
	 padding-top: 33px;
	 color: #233584;
	 font-weight: 600;
	 font-size: 16px;
	 padding-bottom: 24px;
	 margin: 0;
}
 .speed-math .yellow-box .spatio-img .sm-lets-go {
	 transform: translate(50%, 50%);
	 position: absolute;
	 left: 10rem;
	 cursor: pointer;
}
 @media (min-width: 768px) and (max-width: 950px) {
	 .speed-math .yellow-box .spatio-img {
		 width: 520px;
	}
}
 @media (min-width: 480px) and (max-width: 768px) {
	 .speed-math .yellow-box .spatio-img {
		 width: 420px;
	}
}
 .speed-math .yellow-box .radio-custom {
	 opacity: 0;
	 position: absolute;
}
 .speed-math .yellow-box .radio-custom, .speed-math .yellow-box .radio-custom-label {
	 display: inline-block;
	 vertical-align: middle;
	 margin: 5px;
	 cursor: pointer;
}
 .speed-math .yellow-box .radio-custom-label {
	 position: relative;
	 font-weight: 300;
	 font-size: 20px;
	 color: #233584;
}
 @media (min-width: 768px) and (max-width: 950px) {
	 .speed-math .yellow-box .radio-custom-label {
		 font-size: 16px;
	}
}
 @media (min-width: 480px) and (max-width: 768px) {
	 .speed-math .yellow-box .radio-custom-label {
		 font-size: 10px;
	}
}
 .speed-math .yellow-box .radio-custom + .radio-custom-label:before {
	 content: "";
	 background: #fff;
	 border: 4px solid #fac02b;
	 display: inline-block;
	 vertical-align: middle;
	 width: 50px;
	 height: 50px;
	 padding: 2px;
	 margin-right: 10px;
	 text-align: center;
}
 .speed-math .yellow-box .radio-custom + .radio-custom-label:before {
	 border-radius: 50%;
}
 .speed-math .yellow-box .radio-custom:checked + .radio-custom-label:before {
	 background: #4dc591;
	 box-shadow: inset 0px 0px 0px 8px #fff;
	 width: 50px;
	 height: 50px;
	 border: 4px solid #fac02b;
}
 .speed-math .yellow-box .spatio-img::before {
	 content: "";
	 position: absolute;
	 width: 200px;
	 height: 135px;
	 left: 12rem;
	 top: -115px;
	 z-index: 9;
}
 @media (min-width: 768px) and (max-width: 950px) {
	 .speed-math .yellow-box .spatio-img::before {
		 left: 7rem;
	}
}
 @media (min-width: 950px) and (max-width: 1024px) {
	 .speed-math .yellow-box .spatio-img::before {
		 left: 7rem;
	}
}
 #timer-page-2::before {
	 content: "";
	 position: absolute;
	 width: 200px;
	 height: 135px;
	 top: 0;
	 z-index: 9;
	 right: 115px;
}
 @media (min-width: 768px) and (max-width: 950px) {
	 #timer-page-2::before {
		 top: 7rem;
		 right: 15px;
	}
}
 @media (min-width: 950px) and (max-width: 1024px) {
	 #timer-page-2::before {
		 top: 8rem;
	}
}
 #timer-page-3::before {
	 content: "";
	 position: absolute;
	 width: 200px;
	 height: 135px;
	 top: -9rem;
	 z-index: 9;
	 right: 115px;
}
 @media (min-width: 768px) and (max-width: 950px) {
	 #timer-page-3::before {
		 top: 7rem;
		 right: 15px;
	}
}
 @media (min-width: 950px) and (max-width: 1024px) {
	 #timer-page-3::before {
		 top: 8rem;
	}
}
 #timer-page-2 .timer-counter {
	 font-size: 120px;
	 color: #233584;
	 font-weight: 600;
	 position: absolute;
	 top: 35%;
	 left: 50%;
	 transform: translate(-50%, -50%);
}
 #timer-page-2 .waiting-msg {
	 margin: 0 auto;
	 position: absolute;
	 text-align: center;
	 width: 35%;
	 bottom: 150px;
	 color: #233584;
	 font-size: 18px;
	 font-weight: 600;
	 left: 50%;
	 transform: translate(-50%, -50%);
}
 @media (min-width: 768px) and (max-width: 950px) {
	 #timer-page-2 .waiting-msg {
		 bottom: 20%;
	}
}
 @media (min-width: 950px) and (max-width: 1024px) {
	 #timer-page-2 .waiting-msg {
		 bottom: 0;
		 font-size: 20px;
	}
}
 @media (min-width: 768px) and (max-width: 1024px) {
	 #timer-page-3::before {
		 display: none;
	}
}
 #timer-page-3 {
	 margin-top: 106px;
	 min-width: 100%;
}
 #timer-page-3 .score-card {
	 right: 30%;
	 position: absolute;
	 top: 54px;
}
 #timer-page-3 .question-box {
	 background: #fedd52;
	 box-shadow: 5px 10px 30px rgba(11, 66, 171, 0.15);
	 border-radius: 44px;
	 height: 180px;
	 text-align: center;
}
 #timer-page-3 .question-box .question-box-bg::after {
	 content: "";
	 position: absolute;
	 width: 220px;
	 height: 170px;
	 top: 68px;
	 z-index: 1;
	 right: -14px;
}
 @media (min-width: 768px) and (max-width: 1024px) {
	 #timer-page-3 .question-box .question-box-bg::after {
		 display: none;
	}
}
 #timer-page-3 ::placeholder {
	 color: #d0d4e1;
}
 #timer-page-3 .answer-box {
	 background: #fedd52;
	 box-shadow: 5px 10px 30px rgba(11, 66, 171, 0.15);
	 border-radius: 44px;
	 height: 175px;
	 margin-top: 8px;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 padding: 44px;
}
 #timer-page-3 .answer-box .answer-input-element {
	 height: 99px;
	 border-radius: 26px;
	 border: 1px solid #fac02b;
	 font-size: 29px;
	 text-align: center;
	 color: #d0d4e1;
	 width: 100%;
}
 #timer-page-3 .answer-box .answer-input-element:focus {
	 outline: none;
}
 .student-progress-bar {
	 height: 60px;
	 background: #fedd52;
	 border-radius: 44px;
}
 .computer-progress-bar {
	 height: 60px;
	 background: #fedd52;
	 border-radius: 44px;
}
 #countdown {
	 margin: auto;
	 height: 40px;
	 width: 40px;
	 text-align: center;
	 transform: translate(-50%, -50%) !important;
}
 #countdown-number {
	 color: #fac02b;
	 display: inline-block;
	 line-height: 40px;
}
 @media (min-width: 480px) and (max-width: 768px) {
	 .countdown-res {
		 right: 1rem !important;
		 top: -2rem !important;
		 left: 1rem !important;
	}
}
 svg {
	 position: absolute;
	 top: 0;
	 right: 0;
	 width: 40px;
	 height: 40px;
	 transform: rotateY(-180deg) rotateZ(-90deg);
}
 svg circle {
	 stroke-dasharray: 113px;
	 stroke-dashoffset: 0px;
	 stroke-linecap: round;
	 stroke-width: 2px;
	 stroke: #fac02b;
	 fill: none;
	 animation: countdown 60s linear infinite forwards;
}
 @keyframes countdown {
	 from {
		 stroke-dashoffset: 0px;
	}
	 to {
		 stroke-dashoffset: 113px;
	}
}
 #timer-page-4 {
	 margin-top: 80px;
	 min-width: 100%;
}
 #timer-page-4 .answer-flexbox {
	 background-color: transparent;
	 width: 100px;
	 margin: 0 10px;
	 text-align: center;
	 line-height: 75px;
	 font-size: 30px;
}
 #timer-page-4 .left-question-box .question-box span {
	 font-size: 16px;
	 font-weight: 600;
	 color: #233584;
	 display: flex;
}
 @media (min-width: 768px) and (max-width: 950px) {
	 #timer-page-4 .left-question-box .question-box span {
		 font-size: 12px;
	}
}
 @media (min-width: 768px) and (max-width: 950px) {
	 .showgameresult-resipad {
		 margin: 130px 5px !important;
	}
}
 @media (min-width: 768px) and (max-width: 1024px) {
	 .changescoredynamic {
		 width: 33% !important;
		 right: -8% !important;
	}
}
 #circle {
	 width: auto;
	 height: auto;
	 padding: 2px;
	 min-width: 30px;
	 min-height: 30px;
	 background: red;
	 border-radius: 50%;
	 color: white;
	 font-size: 12px;
	 font-family: "Montserrat";
	 font-weight: 600;
	 display: flex;
	 justify-content: center;
	 text-align: center;
	 align-items: center;
	 justify-content: center;
}
 #circleblue {
	 width: auto;
	 height: auto;
	 min-width: 30px;
	 min-height: 30px;
	 background: green;
	 border-radius: 50%;
	 color: white;
	 font-size: 12px;
	 font-family: "Montserrat";
	 font-weight: 600;
	 display: flex;
	 justify-content: center;
	 text-align: center;
	 align-items: center;
	 justify-content: center;
}
 .loadingdiv_container {
	 position: fixed;
	 top: 30%;
	 left: 40%;
	 border: 1px solid grey;
	 border-radius: 10px;
	 background: white;
}
 .loadingdiv_container_extension {
	 position: fixed;
	 top: 30%;
	 left: 40%;
	 border: 1px solid grey;
	 border-radius: 10px;
	 background: white;
	 width: 300px;
	 height: 100px;
	 text-align: center;
}
 @media screen and (min-width: 576px) {
	 .modal-dialog {
		 max-width: 900px;
		/* New width for default modal */
		 text-align: center;
	}
}
 .blink {
	 animation: blinker 1s step-start infinite;
	 color: darkred;
}
 @keyframes blinker {
	 50% {
		 opacity: 0;
	}
}
 .parentjoindiv {
	 width: 100px;
	 height: 50px;
	 align-items: center;
	 justify-content: center;
	 display: flex;
}
 .parentjoinindicator {
	 width: 20px;
	 height: 20px;
}
 .raisealarm {
	 border: 1px solid red;
	 width: 400px;
	 height: 200px;
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 background: white;
	 box-shadow: 0px 0px 20px;
	 display: flex;
	 align-items: center;
}
 .raisealarmform {
	 text-align: center;
	 margin-top: 10px;
	 margin-left: 4px;
}
 .containerforparent {
	 display: flex;
	 align-items: center;
	 justify-content: space-evenly;
	 width: 800px;
	 height: 60px;
	 position: relative;
	 top: 20%;
	 left: 0%;
}
 .containerforparentbigdiv {
	 width: auto;
	 height: 2px;
	 position: absolute;
	 top: 1%;
	 left: 1%;
}
 .containerhowertext {
	 position: fixed;
	 width: 1000px;
	 text-align: center;
	 height: auto;
	 display: flex;
	 flex-wrap: wrap;
}
 .containerhowertextstyle {
	 color: #233584;
	 font-weight: 600;
	 font-size: 16px;
	 line-height: 16px;
}
 .modalforparent {
	 width: 400px;
	 height: 300px;
	 position: absolute;
	 left: 50%;
	 top: 35%;
	 border-radius: 10px;
	 margin-left: -150px;
	 margin-top: -150px;
}
 .modalforparentinput {
	 width: 100px;
	 height: 100px;
}
 .feedbackparentmodal {
	 width: 500px;
	 position: absolute;
	 top: 20%;
	 left: 20%;
	 border: 1px solid black;
	 height: 500px;
}
 img {
	 max-width: 100%;
	 max-height: 100%;
	 object-fit: cover;
}
 .mq-replacable {
	 cursor: pointer;
}
 .mq-math-mode sup.mq-nthroot {
	 padding-top: 0.8em;
}
 .mq-root-block {
	 overflow: auto;
}
 .showcameraandmicinfo {
	 width: 650px;
	 height: 200px;
	 justify-content: center;
	 margin: 0 auto;
	 align-items: center;
	 border: 1px solid white;
}
 .showcameraandmicinfo .cameraNametop {
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
}
 .showcameraandmicinfo .MicrophoneNametop {
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
}
 .showcameraandmicinfo .cameraheading {
	 font-weight: bold;
	 margin-left: 30px;
	 font-size: larger;
	 font-weight: bold;
	 font-size: 20px;
}
 .showcameraandmicinfo .cameraNameshow {
	 width: 450px;
	 height: 50px;
	 font-weight: bold;
	 font-size: 20px;
	 color: #233584;
	 justify-content: center;
	 margin: 10px auto;
	 margin-right: 10px;
	 align-items: center;
	 border: 1px solid gray;
	 border-radius: 10px;
}
 .showcameraandmicinfo .cameraNameshowsecond {
	 width: 450px;
	 height: 50px;
	 font-weight: bold;
	 font-size: 20px;
	 color: #233584;
	 justify-content: center;
	 margin: 10px auto;
	 margin-right: 10px;
	 align-items: center;
}
 .showcameraandmicinfo .cameraNameshowsecondred {
	 width: 450px;
	 height: 50px;
	 font-weight: bold;
	 font-size: 20px;
	 justify-content: center;
	 margin: 10px auto;
	 margin-right: 10px;
	 align-items: center;
	 color: red;
}
 .showcameraandmicinfo .microphoneNameshow {
	 width: 450px;
	 height: 50px;
	 justify-content: center;
	 margin: 10px auto;
	 margin-right: 10px;
	 align-items: center;
	 border: 1px solid gray;
	 border-radius: 10px;
}
 @media screen and (orientation: portrait) {
	 html {
		 -webkit-transform: translateY(-100%) rotate(90deg);
		 transform: translateY(-100%) rotate(90deg);
		 -webkit-transform-origin: left bottom;
		 transform-origin: left bottom;
	}
}
 .buttonNumpadMain {
	 width: auto;
	 height: auto;
	 border: 1px solid grey;
	 border-radius: 10px;
	 background: whitesmoke;
	 box-shadow: 0px 0px 20px;
	 padding: 10px;
}
 .buttonNumpadMain .buttonNumpad {
	 width: auto;
	 height: auto;
	 display: grid;
	 grid-template-columns: repeat(3, 25%);
	 justify-content: center;
	 grid-gap: 10px;
	 gap: 8px;
	 margin-top: 10px;
	 padding: 5px;
}
 .buttonNumpadMain .buttonNumpad .buttonNumpadinnermain {
	 gap: 10px;
	 margin: auto;
	 margin-top: 5px;
}
 .buttonNumpadMain .buttonNumpad .buttonNumpadinnermainsecond {
	 gap: 10px;
	 margin: auto;
	 font-size: medium;
	 border: 1px solid gray;
	 box-shadow: 0px 0px 10px;
	 background-color: whitesmoke;
	 border-radius: 10px;
	 height: 35px;
	 width: 35px;
	 justify-content: center;
	 align-items: center;
	 display: flex;
	 cursor: pointer;
	 font-size: 14px;
	 font-weight: 600;
	 font-family: Montserrat;
}
 .buttonNumpadMain .buttonNumpad .buttonNumpadinnermainsecond:hover {
	 background-color: #00aded;
}
 .buttonNumpadMain .mainbuttonalignment {
	 width: auto;
	 height: auto;
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
	 gap: 10px;
	 margin-top: 5px;
	 flex-wrap: wrap;
}
 .buttonNumpadMain .mainbuttonalignment .mainbuttonsofnumpad {
	 width: 70px;
	 height: 25px;
	 font-size: 14px;
	 font-weight: 600;
	 font-family: Montserrat;
	 color: #233584;
	 border: 1px solid gray;
	 border-radius: 10px;
}
 .buttonNumpadMain .mainbuttonalignment .mainbuttonsofnumpad:hover {
	 background-color: #d0243c;
}
 .buttonNumpadMain .mainbuttonalignment .mainbuttonsofnumpadEnter {
	 width: 100px;
	 height: 25px;
	 font-size: 16px;
	 font-weight: 600;
	 font-family: Montserrat;
	 color: #233584;
	 margin: auto;
	 border: 1px solid gray;
	 border-radius: 10px;
}
 .buttonNumpadMain .mainbuttonalignment .mainbuttonsofnumpadEnter:hover {
	 background-color: #4bb543;
}
 .hoverNewDiv {
	 position: absolute;
	 top: 50px;
	 left: -50%;
	 z-index: 1000;
	 height: auto;
	 min-width: 300px;
	 border-radius: 20px;
	 text-align: center;
	 background-color: #fff;
	 padding: 10px;
}
 .hoverNewDivforchild {
	 position: absolute;
	 top: 50px;
	 left: -50%;
	 height: 205px;
	 margin: auto;
	 min-width: 100px;
	 border-radius: 20px;
	 text-align: center;
	 background-color: #fff;
	 padding: 15px;
}
 .hoverNewDivforchildStudent {
	 display: block;
	 justify-content: space-between;
	 align-items: center;
	 margin: auto;
	 width: 100%;
	 height: 100%;
	 padding: 5px;
	 gap: 10px;
}
 .hoverNewDivSecond {
	 position: absolute;
	 top: 50px;
	 z-index: 1000;
	 height: auto;
	 min-width: 300px;
	 border-radius: 20px;
	 text-align: center;
	 background-color: #fff;
	 padding: 10px;
}
 .otherscreen {
	 padding-left: 5px;
}
 .allscreen {
	 padding-left: 25px !important;
}
 .right-side-student-padding {
	 padding-right: 3px !important;
}
 .fraction {
	 display: inline-block;
	 vertical-align: middle;
	 margin: 0 0.2em 0.4ex;
	 text-align: center;
	 font-size: 12px !important;
	 left: -4px !important;
}
 .fraction > span {
	 display: block;
	 padding-top: 0.15em;
}
 .lr-arrow {
	 font-size: 22px;
	 position: relative;
}
 .lr-arrow span {
	 position: absolute;
	 top: -19px;
	 left: 0px;
	 font-size: 30px;
}
 .carry-over1 {
	 list-style-type: none;
	 float: left;
	 margin: 0px;
	 margin-left: 50px !important;
}
 .carry-over1 li {
	 list-style-type: none;
	 float: left;
	 letter-spacing: 2px;
	 margin: 0px 0px 0px 10px;
	 font-size: 11px;
	 font-weight: bold;
}
 .carry-over1 li:nth-child(2) {
	 margin-left: 20px;
}
 .carry-over1 li:nth-child(3) {
	 margin-left: 49px;
}
 .carry-over1 li:nth-child(4) {
	 margin-left: 14px;
}
 .challenge-msg {
	 width: 130px;
	 text-align: center;
	 float: right;
	 margin: 5px 14px 14px 14px;
}
 .fraction span.fdn {
	 border-top: thin solid black;
}
 .fraction span.bar {
	 display: none;
}
 .bottom-underlined {
	 border-bottom: thin solid black;
}
 .top-underlined {
	 border-top: thin solid black;
}
 .ext-bottom-underlined {
	 border-bottom: thin solid;
	 padding-left: 38px;
}
 .two-digit-carry {
	 letter-spacing: 0px !important;
}
 .num1 .two-digit-carry {
	 left: 5px !important;
}
 .triple-left {
	 left: -110px;
}
 .forth-left {
	 left: -145px;
}
 .double-left {
	 left: -73px;
}
 .font-bracket {
	 font-family: MathJax_Size4;
}
 .carry-over {
	 font-size: 12px;
	 margin-right: 10px;
}
 .carry-over-multiply {
	 font-size: 12px;
	 margin-right: 20px;
}
 .ordinal {
	 position: relative;
	 top: -18px;
}
 .bottom-no {
	 margin-top: 28px;
	 display: inline-block;
}
 .top-no {
	 position: relative;
	 top: -32px;
}
 #r_rect_corner {
	 margin: -2px;
	 border-radius: 6px;
	 border: 1px solid #666;
	 padding: 7px;
	 width: 26px;
	 height: 15px;
	 background-color: #c0c0c0;
}
 .arith-add li {
	 list-style-type: none;
}
 .arith-add {
	 float: left;
}
 .arith-add h3, .arith-add h4 {
	 text-align: center;
}
 .arith-add {
	 border: 1px solid;
}
 .arith-add-operations {
	 position: relative;
	 padding: 16px 0px 10px 25%;
	 width: 80px;
}
 .arith-add-operations .arith-add-sign {
	 position: absolute;
	 font-size: 24px;
	 font-weight: bold;
	 left: 20%;
	 bottom: 25%;
}
 .arith-add-row1 li, .arith-add-row2 li, .arith-add-row3 li {
	 float: left;
	 font-size: 24px;
	 letter-spacing: 5px;
}
 .arith-add-row1, .arith-add-row2, .arith-add-row3 {
	 width: 100%;
	 display: block;
	 overflow: hidden;
}
 .arith-add-operations .arith-add-row2 {
	 border-bottom: 1px solid;
}
 .arithmatic-operations .arith-add .arith-add-heads, .arithmatic-operations .arith-add .arith-add-sub-heads {
	 padding: 5px;
	 border-bottom: 1px solid;
}
 .MathJax .math span {
	 font-family: "GothamRnd-Book" !important;
	 font-size: 20px;
}
 .font-bracket33 {
	 font-size: 33px;
	 font-family: MathJax_Size3;
}
 .font-bracket25 {
	 font-size: 25px;
	 font-family: MathJax_Size3;
}
 .font-bracket30 {
	 font-size: 30px;
	 font-family: MathJax_Size3;
}
 .font-bracket28 {
	 font-size: 28px;
	 font-family: MathJax_Size3;
}
 .font-bracket12 {
	 font-size: 12px;
	 font-family: MathJax_Size3;
}
 .font-bracket21 {
	 font-size: 21px;
	 font-family: MathJax_Size3;
}
 .font-bracket26 {
	 font-size: 26px;
	 font-family: MathJax_Size3;
}
 .font-bracket23 {
	 font-size: 21px;
	 font-family: MathJax_Size3;
}
 .font-bracket40 {
	 font-size: 40px;
	 font-family: MathJax_Size3;
}
 .font-bracket15 {
	 font-size: 15px;
	 font-family: MathJax_Size3;
}
 .font-bracket11 {
	 font-size: 11px;
	 font-family: MathJax_Size3;
}
 .font-bracket10 {
	 font-size: 10px;
	 font-family: MathJax_Size3;
}
 .font-bracket20 {
	 font-size: 20px;
	 font-family: MathJax_Size3;
}
 .font-bracket6 {
	 font-size: 6px;
	 font-family: MathJax_Size3;
}
 .font-bracket17 {
	 font-size: 17px;
	 font-family: MathJax_Size3;
}
/********** Ckeditor table with tr border *********/
 tr.ck-top-border td {
	 border-top: thin solid black;
}
 tr.ck-bottom-border td {
	 border-bottom: thin solid black;
}
 .table-cellspacing {
	 border-spacing: 0px;
}
 .MathJax_Display {
	 text-align: left !important;
	 margin-top: 0px !important;
	 margin-left: 0px !important;
}
 .faction .power-font {
	 font-size: 15px;
}
 .abs-cont {
	 position: absolute;
	 top: 6px;
	 left: 12px;
	 padding: 5px 12px 0px 10px;
}
 .abs-cont:before {
	 content: "";
	 display: block;
	 position: absolute;
	 top: 4px;
	 left: 9px;
	 right: 10px;
	 bottom: 2px;
	 border-top: 1px solid;
}
 .bracket-size-q {
	 font-size: 30px;
}
 .abs-cont-quos {
	 position: absolute;
	 top: -13px;
	 left: 22px;
}
 .rel-q {
	 position: relative;
	 display: inline-block;
	 margin: 19px 47px 2px 10px;
	 font-size: 20px;
}
 .right-spac {
	 float: right;
}
 .font-bracket1 {
	 font-size: 25px;
}
 .std-size {
	 font-family: "opensans";
	 letter-spacing: 20px;
	 padding-right: 20px;
	 margin-left: 25px;
	 position: relative;
}
 .right-spac .num1 {
	 display: inline-block;
	 float: left;
	 padding: 4px;
	 position: relative;
	 letter-spacing: 18px;
}
 .num1 .carry {
	 position: absolute;
	 top: -5px;
	 font-size: 11px;
	 left: 8px;
}
 .right-spac:nth-of-type(1) .num1 {
	 padding-top: 15px;
}
 .math-func {
	 position: absolute;
	 left: -23px;
	 bottom: -3px;
	 font-weight: bold;
	 font-size: 25px;
}
 .left {
	 left: -37px;
}
 .top-no {
	 position: relative;
	 top: -32px;
}
 .top {
	 position: relative;
	 top: -15px;
}
 .top1 {
	 position: relative;
	 top: -25px;
}
 sup {
	 font-size: xx-small;
	 vertical-align: super;
}
 .radical {
	 position: relative;
	 font-size: 37px;
	 vertical-align: middle;
}
 .radical1 {
	 position: relative;
	 font-size: 77px;
	 vertical-align: middle;
}
 .n-root {
	 position: absolute;
	 top: 7px;
	 left: 7px;
	 font-size: 33%;
}
 .radicand {
	 padding: 8px 2px 2px 0px;
	 border-top: thin black solid;
}
 .radicand1 {
	 padding: 35px 2px 2px 0px;
	 border-top: thin black solid;
}
 .fraction-root {
	 display: inline-block;
	 vertical-align: middle;
	 margin: 0 0.2em 0.4ex;
	 text-align: center;
}
 .fraction-root-one {
	 display: inline-block;
	 vertical-align: middle;
	 margin: 0 0.2em 0.4ex;
	 text-align: center;
}
 .top-no {
	 position: relative;
	 top: -32px;
}
 .faction .power-font {
	 font-size: 15px;
}
 .fraction.power-font {
	 font-size: 15px;
	 line-height: 16px;
}
 .abs-cont:before {
	 content: "";
	 display: block;
	 position: absolute;
	 top: 4px;
	 left: 9px;
	 right: 10px;
	 bottom: 2px;
	 border-top: 1px solid;
}
 .bracket-size-q {
	 font-size: 30px;
}
 .abs-cont {
	 position: absolute;
	 top: 6px;
	 left: 12px;
	 padding: 5px 12px 0px 10px;
}
 .abs-cont-quos {
	 position: absolute;
	 top: -13px;
	 left: 22px;
}
 .rel-q {
	 position: relative;
	 display: inline-block;
	 margin: 19px 47px 2px 10px;
	 font-size: 20px;
}
 .fraction-root-two {
	 display: inline-block;
	 vertical-align: middle;
	 margin: 0 0.2em 0.4ex;
	 text-align: center;
}
 .fraction-root-three {
	 display: inline-block;
	 vertical-align: middle;
	 margin: 0 0.2em 0.4ex;
	 text-align: center;
}
/*Added for VIII_MAT802*/
 .font-bracket {
	 font-family: MathJax_Size4;
}
 .top-no {
	 position: relative;
	 top: -32px;
}
 .top {
	 position: relative;
	 top: -18px;
}
 .top1 {
	 position: relative;
	 top: -25px;
}
 .faction .power-font {
	 font-size: 15px;
}
 .radical {
	 position: relative;
	 font-size: 37px;
	 vertical-align: middle;
}
 .radicand {
	 padding: 11px 2px 2px 0px;
	 border-top: thin solid;
}
 .radicand2 {
	 padding: 15px 2px 2px 0px;
	 border-top: thin black solid;
}
 .font-bracket {
	 font-family: MathJax_Size4;
}
 sup {
	 font-size: xx-small;
	 vertical-align: super;
}
 .fraction-root > span {
	 display: block;
	 font-size: 14px;
}
 .fraction-root span.fdn {
	 border-top: thin solid black;
}
 .fraction-root span.bar {
	 display: none;
}
 .nth-radical {
	 position: relative;
	 font-size: 21px;
	 vertical-align: middle;
}
 .nth-root {
	 position: absolute;
	 top: 3px;
	 left: 5px;
	 font-size: 33%;
}
/*added for grade 10 math*/
 .fraction1 {
	 display: inline-block;
	 vertical-align: middle;
	 margin: 0 0.2em 0.4ex;
	 text-align: center;
	 font-size: 10px;
}
 .fraction1 > span {
	 display: block;
	 padding-top: 0.15em;
}
 .fraction1 span.fdn {
	 border-top: thin solid black;
}
 .fraction1 span.bar {
	 display: none;
}
 .bottom-underlined {
	 border-bottom: thin solid black;
}
 .top-underlined {
	 border-top: thin solid black;
}
 .top-underlined-root {
	 display: inline-block;
	 border-top: 2px solid #4d4d4d;
}
 .inner-root1 {
	 margin-top: 3px;
}
 .inner-root2 {
	 margin-top: 3px;
}
 .root-border {
	 font-size: 25px;
}
 .root-border1, .no-student_cls {
	 font-size: 24px;
}
 .root-border2 {
	 font-size: 21px;
}
 .inner-root3 {
	 margin-top: 3px;
}
 .faction1 .power-font1 {
	 font-size: 10px;
}
 .nth-root {
	 position: absolute;
	 top: 2px;
	 left: 2px;
	 font-size: 50%;
}
 .nth-radical .nth-root, .radical .n-root {
	 line-height: 0px;
	 font-size: 10px;
}
 .nth-radical .nth-root {
	 left: 3px;
}
 .strikethrough {
	 position: relative;
}
 .main-math-function, .separation-math-function {
	 position: relative;
	 overflow: hidden;
	 float: left;
}
 .top-underlined-frac {
	 border-top: thin solid black;
	 padding-top: 10px;
}
 .border-abs {
	 position: absolute;
	 width: 50%;
	 height: 12px;
	 border: 1px solid gray;
	 left: 18%;
	 border-top: none;
	 bottom: 4px;
}
 .separation-math-function {
	 font-size: 25px;
	 letter-spacing: 3px;
	 clear: both;
}
 .rel-numbers {
	 position: relative;
	 float: left;
	 padding-bottom: 20px;
}
 .strikethrough:before {
	 position: absolute;
	 content: "";
	 left: 0;
	 top: 50%;
	 right: 0;
	 border-top: 1px solid;
	 border-color: inherit;
	 -webkit-transform: rotate(-15deg);
	 -moz-transform: rotate(-20deg);
	 -ms-transform: rotate(-20deg);
	 -o-transform: rotate(-20deg);
	 transform: rotate(-20deg);
}
 .top-underlined-root-number {
	 display: inline-block;
	 border-top: 2px solid #4d4d4d;
}
 .inner-root-number-1 {
	 margin-top: 5px;
}
 .inner-root-number-2 {
	 margin-top: 3px;
}
 .root-border-number {
	 font-size: 39px;
}
 .root-border-number-1 {
	 font-size: 34px;
}
 .root-border-number-2 {
	 font-size: 26px;
}
 .root-border-number-double {
	 font-size: 51px;
}
 .nth-root-different {
	 position: absolute;
	 top: -10px;
	 left: 4px;
	 font-size: 45%;
}
 .class9_fraction {
	 display: inline;
	 float: left;
	 margin-top: 50px;
	 margin-bottom: 50px;
}
 .frac_float {
	 float: left;
}
 .frac_float .font-bracket {
	 font-size: 15px;
}
 .font-bracket {
	 line-height: 65px;
}
 .radicand1 {
	 padding: 32px 2px 2px 0px;
	 border-top: thin black solid;
}
 .radicand1 {
	 padding: 32px 2px 2px 0px;
	 border-top: thin black solid;
}
 span.radicand .fraction-root {
	 line-height: 100%;
}
 .top-underlined-root {
	 display: inline-block;
	 border-top: 2px solid #4d4d4d;
}
 .inner-root1 {
	 margin-top: 3px;
}
 .inner-root2 {
	 margin-top: 3px;
}
 .root-border {
	 font-size: 40px;
}
 .root-border1 {
	 font-size: 34px;
}
 .root-border2 {
	 font-size: 26px;
}
 .top {
	 position: relative;
	 top: -15px;
}
 .font-bracket1 {
	 font-size: 25px;
}
 .nth-radical {
	 position: relative;
}
 .nth-radical .nth-root-new {
	 line-height: 8px;
}
 .nth-radical .nth-root, .radical .n-root, .top .fraction {
	 line-height: 0px;
	 font-size: 10px;
}
 .nth-radical .nth-root {
	 left: 3px;
}
 .practice-new-quiz sup {
	 vertical-align: 15px !important;
	 top: 7px;
}
 sup .fraction, sup .fraction-root, .top .fraction {
	 position: relative;
	 left: -2px;
}
 sup .fraction .fup, sup .fraction .fdn, sup .fraction-root .fup, sup .fraction .bar, sup .fraction-root .fup, sup .fraction-root .bar, sup .fraction-root .fdn, .top .fraction .fup, .top .fraction .bar, .top .fraction .fdn {
	 position: absolute;
	 font-size: xx-small;
}
 sup .fraction .fup, sup .fraction-root .fup, .top .fraction .fup {
	 top: -2px;
}
 sup .fraction .fdn, sup .fraction-root .fdn, .top .fraction .fdn {
	 top: 2px;
	 padding-top: 6px;
}
 .nth-root-new {
	 position: absolute;
	 top: 0px;
	 left: 1px;
	 font-size: 35%;
}
 .top-new {
	 position: relative;
	 top: -12px;
	 font-size: 11px;
}
 .top2 {
	 position: relative;
	 top: -20px;
	 font-size: 11px;
}
 .nth-root-new1 {
	 position: absolute;
	 top: 1px;
	 left: -24px;
	 font-size: 46%;
	 white-space: nowrap;
	 line-height: 0px;
}
 .nth-root-new2 {
	 position: absolute;
	 top: -14px;
	 left: -88px;
	 font-size: 52%;
	 line-height: 0px;
	 white-space: nowrap;
}
 .nth-root-new3 {
	 position: absolute;
	 top: 2px;
	 left: 8px;
	 font-size: 35%;
}
 .top-underlined-root-new {
	 margin-top: 3px;
	 display: inline-block;
	 border-top: 1px solid #4d4d4d;
}
 #studentAnswerResponse .react-draggable {
	 cursor: move !important;
}
 .animationforquizchild {
	 border: 1px solid black;
	 display: block;
	 width: 500px;
	 height: 500px;
	 left: 20%;
	 top: 20%;
	 position: absolute;
}
 .sampleoneanimation {
	 width: 100%;
	 height: 100%;
	 position: absolute;
	 z-index: 999;
}
 .sampleoneanimation3 {
	 width: 100%;
	 position: absolute;
	 z-index: 999;
}
 .sampleoneanimationwelcome {
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 width: 900px;
	 height: 500px;
	 display: flex;
	 justify-content: center;
	 margin: 0 auto;
	 position: absolute;
	 z-index: 999;
}
 #ckeditorValueModified input[type=checkbox] {
	 width: 20px !important;
	 height: 20px !important;
	 margin-right: 8px !important;
}
 #ckeditorValueModified input[type=radio] {
	 width: 20px !important;
	 height: 20px !important;
	 margin-right: 8px !important;
}
 .ckEditorResetValue td, .ckEditorResetValue img, .ckEditorResetValue tr {
	 font: inherit;
	 vertical-align: inherit;
	 max-width: fit-content;
	 max-height: fit-content;
}
 .ckEditorResetValue p {
	 display: block;
	 margin-block-start: 1em;
	 margin-block-end: 1em;
	 margin-inline-start: 0px;
	 margin-inline-end: 0px;
}
 .ckEditorResetValue table {
	 border-collapse: separate;
	 text-indent: initial;
	 border-spacing: 2px;
}
 .mathzoneMultipleChoiceFlexBox {
	 display: flex;
	 flex-wrap: wrap;
	 gap: 0.5rem;
	 width: 90%;
	 margin-top: 1.5rem;
	 cursor: pointer;
}
 .mathzoneMultipleChoiceFlexBox > div {
	 min-width: calc(50% - 0.5rem);
	 max-width: 100%;
	 flex: 1;
	 display: flex;
	 font-family: Montserrat;
	 font-size: 16px;
	 font-style: normal;
	 font-weight: 600;
	 line-height: 24px;
	 letter-spacing: 0em;
	 text-align: left;
	 align-items: center;
	 padding-left: 18px;
	 color: #233584;
	 border-radius: 12px;
	 word-break: break;
	 min-height: auto;
	 height: 60px;
	 gap: 2rem;
	 border: 1px solid black;
	 height: auto;
}
 .mathzoneMultipleChoiceFlexBox > div > div {
	 min-width: auto;
	 min-height: auto;
}
 .mathzoneMultipleChoiceFlexBox > div > div:nth-child(2) {
	 flex: 1;
	 display: flex;
	 flex-wrap: wrap;
	 word-break: break;
}
 .mathzoneMultipleChoiceFlexBox .choiceImage {
	 padding: 0;
}
 .mathzoneSelectedChoiceType {
	 background-color: #b9c2fc;
}
 .mathzonePrevSelectionAnswerSelection {
	 background-color: white;
}
 .mathzoneFlexDirectionColumn {
	 flex-direction: column;
}
 .mathzoneFlex {
	 display: flex;
}
 .mathzoneQuestionName {
	 font-family: Montserrat;
	 font-size: 18px;
	 font-style: normal;
	 font-weight: 700;
	 line-height: 27px;
	 letter-spacing: 0em;
	 text-align: left;
	 color: #233584;
}
 .mathzoneOprcGrid {
	 display: Grid;
	 max-width: 90%;
	 box-sizing: border-box;
	 margin: 2rem auto;
}
 .mathzoneOprcGrid > div:nth-child(even) {
	 box-sizing: border-box;
}
 .mathzoneOprcGrid > div {
	 border: 1px solid black;
	 padding: 1rem;
	 display: flex;
	 box-sizing: border-box;
	 justify-content: center;
	 align-items: center;
	 height: auto;
}
 .mathzoneOprcGrid > .mathzoneLastChild {
	 min-height: 100px;
	 height: auto;
	 box-sizing: border-box;
}
 .mathzoneOprcGridDivBox {
	 display: flex;
	 gap: 0.4rem;
	 position: relative;
	 flex-wrap: wrap;
	 box-sizing: border-box;
	 z-index: 4;
	 height: auto;
}
 .mathzoneOprcGridDivBox > div {
	 margin: 0.51rem;
	 border: 1px solid black;
	 min-height: 30px;
	 min-width: 30px;
	 padding: 5px;
	 width: auto;
	 height: auto;
	 display: flex;
	 flex-wrap: wrap;
	 word-break: break;
	 justify-content: center;
	 align-items: center;
}
 .mathzoneOprcGridDivBox2 {
	 width: calc(60% - 2rem);
	 position: relative;
	 height: auto;
	 z-index: 5;
	 display: flex;
	 gap: 1rem;
	 padding: 1rem;
	 justify-content: center;
	 align-items: center;
	 flex-wrap: wrap;
	 margin: 0 2rem;
	 min-height: 60px;
	 height: auto;
	 border: 1px solid black;
}
 .mathzoneOprcGridDivBox2 > div {
	 min-width: 30px;
	 height: auto;
	 width: auto;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .mathzoneOprcGridDivBox2 > div * {
	 cursor: move;
}
 .mathzoneOprcGridDivBox2 .react-draggable {
	 transform: translate(0, 0);
	 border: 1px solid black;
	 padding: 5px;
}
 .mathzoneOrcGrid {
	 display: Grid;
	 width: 80%;
	 min-width: 100px;
	 margin: 2rem;
	 border: 1px solid black;
	 height: auto;
}
 .mathzoneOrcGrid > div:nth-child(even) {
	 border: 1px solid black;
}
 .mathzoneOrcGrid > div {
	 border: 1px solid black;
	 display: flex;
	 padding: 1rem;
	 justify-content: center;
	 align-items: center;
	 word-break: break;
}
 .mathzoneOrcGrid > .mathzoneEvenChild {
	 min-height: 100px;
	 height: auto;
}
 .mathzoneOrcGrid > .mathzoneOrcGrid {
	 min-height: 100px;
	 height: auto;
}
 .mathzoneOrcGrid > div > div {
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .mathzoneOrcGrid > .mathzoneFlexbox {
	 display: flex;
	 justify-content: center;
	 font-weight: bold;
}
 .mathzoneOrcDivBox {
	 display: flex;
	 gap: 0.4rem;
	 position: relative;
	 flex-wrap: wrap;
	 z-index: 4;
	 height: auto;
}
 .mathzoneOrcDivBox > div {
	 margin: 0 0.21rem;
	 border: 1px solid black;
	 padding: 5px;
	 min-height: 30px;
	 min-width: 30px;
	 width: auto;
	 height: auto;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .mathzoneOrcDivBox2 {
	 width: calc(100% - 2rem);
	 position: relative;
	 min-height: 80px;
	 z-index: 5;
	 display: flex;
	 gap: 0.9rem;
	 padding: 1rem;
	 justify-content: center;
	 align-items: center;
	 flex-wrap: wrap;
	 margin: 0 2rem;
	 height: auto;
	 border: 1px solid black;
	 margin-bottom: 1rem;
}
 .mathzoneOrcDivBox2 > div {
	 width: auto;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 border: 1px solid black;
	 padding: 5px;
}
 .mathzoneOrcDivBox2 .react-draggable {
	 transform: translate(0, 0);
}
 #mathzoneFibAfterText {
	 width: calc(100% - 2rem);
	 margin: auto;
	 margin-top: 1rem;
	 font-size: 16px !important;
	 display: flex;
	 flex-direction: row;
	 flex-wrap: wrap;
}
 .mathzoneMultipleChoicequestionName th, .mathzoneMultipleChoicequestionName td {
	 padding: 1rem;
}
 .mathzoneMainOlBox {
	 margin: 1rem 0;
	 padding: 1rem;
	 display: flex;
	 width: 86%;
	 flex-direction: column;
	 border: 1px solid black;
	 justify-content: center;
	 align-items: center;
	 gap: 2rem;
	 border-radius: 5px;
}
 .mathzoneMainOlBox > div {
	 border-bottom: 1px solid black;
	 width: 80%;
	 display: flex;
	 flex-wrap: wrap;
	 justify-content: center;
}
 .ckEditorResetValue img {
	 object-fit: initial;
}
 .ordinal {
	 left: 0 !important;
}
 .fraction {
	 font-size: 20px !important;
}
 .fraction .fdn, .fraction .bar, .fraction .fup {
	 position: static !important;
	 padding-top: 0px !important;
}
 .fraction .fdn {
	 padding-top: 3.6px !important;
}
 .page1 {
	 background-color: pink;
}
 .page2 {
	 background-color: yellow;
}
 .page3 {
	 background-color: aqua;
}
 .fullscreensampleoneanimation {
	 height: 100vh;
	 position: fixed;
}
 .lottieThing {
	 position: absolute;
	 left: 0;
	 bottom: 0;
	 width: 100%;
	 height: 100%;
}
 .sampleoneanimation4 {
	 width: 100%;
	 height: 100%;
	 position: absolute;
	 background-color: 'yellow';
	 bottom: -12%;
	 left: -30%;
}
 .ledScreen {
	 height: 58px;
}
 .ledScreen > img {
	 height: 106.0833333333px;
}
 